﻿.lbl {
            color: #B4886B;
            font-weight: bold;
            width: 150px;
            float: right;
        }
        h3 {
            color: #B4886B;
            font-weight: bold;
            display: block;
        }
        label:after {
            content: ": ";
        }
        .txt {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            padding: 0 15px 10px;
            border: 1px solid #b7b7b7;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            font: normal 16px/normal "Times New Roman", Times, serif;
            color: rgba(0,142,198,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            background: rgba(252,252,252,1);
            -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        }
        .btn {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            cursor: pointer;
            padding: 10px 20px;
            border: 1px solid #018dc4;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            font: normal normal bold 16px/normal "Times New Roman", Times, serif;
            color: rgba(7,0,0,0.9);
            -o-text-overflow: clip;
            text-overflow: clip;
            -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
            text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
            -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        }
        .box {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;           
            margin: 7px;
            padding: 5px;
            overflow: hidden;
            border: none;
            font: normal 16px/1 "Times New Roman", Times, serif;
            color: rgba(255,255,255,1);          
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;          
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }